.getStarted {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  padding-top: 100px;
  margin: auto;
  background: linear-gradient(150deg, #020e21 13.41%, #0042af 91.52%);

  .title {
    text-align: center;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 30px;
    width: 50%;

    h1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;

      @media (max-width: 490px) {
        font-size: 9vw;
      }
    }
  }

  .gitTitle {
    margin-top: 30px;
    text-align: left;

    @media (max-width: 490px) {
      font-size: 8vw;
    }
  }

  .block {
    margin: auto;
    margin-bottom: 160px;
    text-align: center;
    justify-content: center;
    width: 100%;

    .lgCol {
      max-width: 850px;
      height: 700px;
      padding-left: 50px;
      background: #f3f6f9;
      margin-bottom: 100px;

      @media (max-width: 1213px) {
        margin-bottom: 200px;
      }

      @media (max-width: 553px) {
        padding: 0;
        height: 100%;
      }

      .lg8 {
        margin: auto;
      }
    }

    .githubApi {
      margin-top: 2rem;
      border: 1px solid #e3e7f2;
      border-radius: 4px;
      position: relative;
      background: #fff;

      .nav {
        border-bottom: 1px solid #e3e7f2;
        background: #f9faff;
        text-align: left;
        height: 430px;

        .navLink {
          color: #000;
          text-decoration: none;
          line-height: 1.2rem;
          margin: 0 1rem -1px 0;
          padding: 0.5rem 0.8rem;
          border-bottom: 2px solid transparent;

          &.active {
            border-color: #1b46c2;
          }

          img {
            width: 28px;
            height: 19px;
          }
        }
      }

      .tabContent {
        height: 25rem;
        max-height: 600px;
        position: relative;

        & > .active {
          display: block;
        }

        iframe {
          border: none;
          height: 100%;
          width: 100%;
        }
      }

      .navFoot {
        border-top: 1px solid #e3e7f2;
        border-bottom: 1px solid #e3e7f2;
        background: #fff;
        text-align: left;

        .navLink {
          color: #000;
          text-decoration: none;
          background-color: transparent;
          display: block;
          line-height: 1.2rem;
          margin: 0 1rem -1px 0;
          padding: 0.5rem 0.8rem;
          border-bottom: 2px solid transparent;
        }
      }
    }

    .repository {
      margin: 1.2rem auto 0 auto;
      display: inline-block;
      font-size: 1rem;
      position: relative;
      z-index: 10;
      text-align: left;
      float: left;

      @media (max-width: 1213px) {
        margin-bottom: 50px;
      }

      .btnWhite {
        font-size: 14px;
        border: 0.05rem #cdcfd1 solid;
        border-radius: 0.25rem;
        vertical-align: middle;
        font-weight: 500;
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 1rem 1rem;
        background-color: #ffffff;
        color: #000;
      }

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 5px;
      }

      div {
        display: inline-block;
        line-height: 1.2rem;
        height: 1.2rem;
        margin: 0 0.8rem;

        img {
          display: inline-block;
          margin: 0 0.2rem 0 0;
          padding: 0;
        }
      }
    }
    // .githubApi {
    //   background: #f7f9fd;
    //   border: 1px solid #dde5f3;
    //   box-sizing: border-box;
    //   box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
    //   border-radius: 3px;
    //   min-height: 600px;
    //   max-width: 700px;

    //   h4 {
    //     font-size: 32px;
    //     line-height: 38px;
    //     font-weight: 400;
    //     margin: 36px 25px;
    //     letter-spacing: -0.02em;
    //   }

    //   .imgGit {
    //     overflow-y: hidden;
    //     margin-bottom: 30px;
    //   }

    //   @media (max-width: 993px) {
    //     margin-bottom: 200px;
    //   }
    // }

    .cardLayout {
      background: #ffffff;
      border: 1px solid #dde5f3;
      box-sizing: border-box;
      box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
      border-radius: 4px;
      padding: 168px 30px 0;
      max-width: 430px;
      height: 700px;
      margin: 0 22px;
      justify-content: center;
      text-align: left;

      @media (max-width: 499px) {
        text-align: center;
        padding: 135px 30px 0;
      }

      //   @media (max-width: 1399px) and (min-width: 1200px) {
      //     max-width: 28%;
      //   }

      .imgAndSubtitle {
        position: absolute;
        text-align: center;
        top: -75px;
        img {
          background: #fff;
          border-radius: 100%;
          border: 1px solid #dde5f3;
          box-sizing: border-box;
          box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
          padding: 1rem;
          margin-bottom: 34px;

          @media (max-width: 499px) {
            width: 135px;
            margin-bottom: 20px;
          }
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-transform: capitalize;
          margin-bottom: 26px;

          color: #557ece;

          @media (max-width: 500px) {
            font-size: 12px;
          }
        }
      }

      h2 {
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -0.02em;

        @media (max-width: 500px) {
          font-size: 7vw;
          line-height: 38px;
        }
      }

      p {
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 44px;

        @media (max-width: 500px) {
          font-size: 14px;
        }
      }

      button {
        background: #557ece;
        color: #fff;
        margin-bottom: 66px;
        margin-right: auto;
        margin-left: auto;

        &:hover {
          background: #fff;
          border: 1px solid #557ece;
          color: #557ece;
        }

        .bodyLayout {
          margin-top: 155px;

          .contentLayout {
            justify-content: center;
            h4 {
              font-weight: normal;
              font-size: 32px;
              line-height: 38px;
              text-align: center;
              letter-spacing: -0.02em;
              color: #000000;
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }
}
