.initial {
  background: linear-gradient(159.21deg, #030404 25.4%, #515251 86.86%);
  width: 100%;
  min-height: 565px;
  transition: all 0.1s ease;
  .block-title {
    width: 100%;
    max-height: 561px;
    padding-top: 173px;
    position: relative;
    z-index: 1;
    padding-left: 245px;
    transition: all 0.1s ease;

    @media (max-width: 900px) {
      left: auto;
      padding: 173px 15% 0;
    }

    @media (max-width: 462px) {
      padding: 173px 10% 0;
    }

    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 57px;
      letter-spacing: -0.02em;
      color: #ffffff;
      margin-bottom: 30px;
      transition: all 0.1s ease;
    }

    .description {
      font-style: normal;
      font-weight: 300;
      font-size: 27px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 286px;
      transition: all 0.1s ease;

      @media (max-width: 462px) {
        margin-bottom: 50px;
      }
    }
  }

  //   imagem que mascara o background
  .mask-effect {
    opacity: 0.5;
    transform: rotate(-180deg);
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 565px;
    transition: all 0.1s ease;
  }

  //    imagem vetorial em holograma
  .vector-bg {
    position: absolute;
    right: 0;
    top: 205px;
    transition: all 0.1s ease;

    @media (max-width: 805px) {
      opacity: 0.4;
      width: 1000px;
    }

    @media (max-width: 462px) {
      top: 273px;
      width: 800px;
    }
  }
}
