.layout {
  background: linear-gradient(178.26deg, #060505 22.29%, #454545 104.81%);
  color: #fff;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 68px 60px;

  .title {
    text-align: center;
    margin: auto;
    justify-content: center;

    h1 {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.02em;

      @media (max-width: 490px) {
        font-size: 9vw;
      }
    }
  }

  .block {
    margin: auto;
    margin-top: 50px;
    width: 100%;

    .buildWith {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;

      @media (max-width: 1027px) {
        margin-bottom: 50px;

        img {
          width: 100%;
          transition: all 0.2s ease;

          @media (max-width: 620px) {
            width: 240px;
          }
        }
      }
    }
  }

  .steps {
    margin-top: 30px;
    padding: 60px 0;
    width: 90%;
    margin: auto;
    justify-content: center;

    .descriptionItem {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 990px) {
        margin-bottom: 32px;
      }
    }

    p {
      font-weight: 300;
      font-size: 1vw;
      margin-top: 7vw;
      max-width: 320px;
      z-index: 2;
      text-align: left;
      padding: 0 20px;

      @media (max-width: 1400px) {
        font-size: 1.2vw;
      }

      @media (max-width: 1090px) {
        width: 100%;
        padding: 0 12px;
        font-size: 1.3vw;
      }

      @media (max-width: 990px) {
        margin: 0;
        padding: 0;
        max-width: initial;
        font-size: 3.2vw;
      }
    }

    .stepsLayout {
      justify-content: center;

      .imgDesktop {
        width: 80%;
        position: absolute;
        left: 10%;
        z-index: 1;
        @media (max-width: 990px) {
          display: none;
        }
      }

      .imgMobile {
        display: none;

        @media (max-width: 990px) {
          display: initial;
          height: 20vw;
          margin-right: 5vw;
        }
      }

      .descriptionsFirstRow {
        margin: auto;
        width: 88%;
        display: flex;
        justify-content: space-between;
        height: 19vw;

        .descriptionItem {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-top: 0.8vw;

          @media (max-width: 990px) {
            align-items: center;
          }
        }

        @media (max-width: 1600px) {
          width: 94%;
        }

        @media (max-width: 1300px) {
          width: 96%;
        }

        @media (max-width: 1024px) {
          width: 100%;
        }

        @media (max-width: 990px) {
          height: initial;
          margin-top: 10vw;
          flex-direction: column;
        }
      }

      .descriptionsSecondRow {
        margin: auto;
        width: 88%;
        display: flex;
        justify-content: space-between;

        .descriptionItem {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-top: 5vw;

          @media (max-width: 990px) {
            align-items: center;
          }
        }

        @media (max-width: 1600px) {
          width: 94%;
        }

        @media (max-width: 1400px) {
          width: 96%;
        }

        @media (max-width: 1250px) {
          width: 96%;
        }

        @media (max-width: 1024px) {
          width: 100%;
        }

        @media (max-width: 990px) {
          margin-top: initial;
          flex-direction: column;
        }
      }
    }

    @media (max-width: 990px) {
      margin-top: 0;
      padding: 20px 0;
      width: 100%;
    }
  }

  @media (max-width: 490px) {
    padding: 68px 30px;
  }

  .btnGroup {
    @media (max-width: 990px) {
      margin-top: 40px;
    }
  }
}
