html,
body {
  width: 100%;
  height: 100%;
}

.container-flex {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;

  @media (min-width: 992px) {
    padding: 0 3.33334%;
  }
}

.title {
  font-family: 'Rubik Light';
  font-weight: lighter;
  font-size: 40px;
  color: #000;
}

.subtitle {
  font-family: 'Rubik Light';
  font-weight: lighter;
  font-size: 20px;
  color: #000;
}
