.blog {
  margin: 4rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    text-align: center;
    &1 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 300;
      letter-spacing: .2px;
      text-transform: uppercase;
    }
    &2 {
      margin-top: .3rem;
      font-size: 1.4rem;
      font-weight: 500;
      &Span {
        font-weight: 400;
        font-size: 1.25rem;
      }
    }
  }
  &__slider {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__post {
    margin: 3rem 1rem;
    width: 25%;
    -webkit-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
  }
  &__topImg {
    max-width: 100%;
  }
  &__content {
    padding: .8rem;
  }
  &__preview {
    font-size: .95rem;
    font-weight: 300;
  }
  &__title {
    margin-top: 0;
    font-size: 1.4rem;
  }
  &__intro {
    line-height: 1.5;
  }
  &__info {
    font-weight: 300;
  }
  &__author {
    font-size: .9rem;
  }
  &__date {
    font-size: .85rem;
  }
  &__counter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  &__counterItem {
    height: 20px;
    width: 20px;
    margin: .5rem;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 25px;
    &:hover {
      cursor: pointer;
    }
    &-active {
      border: 1px solid lightblue;
      background-color: lightblue;
    }
  }
  &__container {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
@media only screen
  and (min-width : 768px)
  and (max-width : 1270px) {
    .blog__container {
      width: 90%;
    }
  }
@media (max-width: 575.98px){
  .blog__container {
    width: 100%;
  }
  .medium-widget-article__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-orient: none;
    -webkit-box-direction: none;
    flex-direction: column;
  }
  .medium-widget-article__column {
    width: 93%!important;
  }
  .medium-widget-article__item {
    display: block!important;
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
    margin: 0 0 1rem;
  }
}
/* #rtb {
  position: relative;
  height: 680px;
  overflow: hidden;
} */
.col-sm-4.rtb-col:nth-child(3),
.col-sm-4.rtb-col:nth-child(4),
.col-sm-4.rtb-col:nth-child(5),
.col-sm-4.rtb-col:nth-child(6),
.col-sm-4.rtb-col:nth-child(7),
.col-sm-4.rtb-col:nth-child(8),
.col-sm-4.rtb-col:nth-child(9) {
  display: none;
}
.col-sm-4.rtb-col {
  padding: 0 30px!important;
}
.rtb-col {
  margin: 2rem 0;
}
.rtb-col .post-date {
  font-family: Rubik Light;
  font-size: 14px;
}
.medium-widget-article__title,
.rtb-col h2 {
  font-family: Rubik Regular;
  font-size:24px!important;
}
.rtb-col a {
  text-decoration: none;
  color: #000;
}
.medium-widget-article__content,
.rtb-col .author, .rtb-col .excerpt, .rtb-col .read-more {
  font-family: Rubik Regular;
  font-size: 16px;
}
.medium-widget-article__column .medium-widget-article__image img {
  object-fit: cover;
  object-position: center top;
  display: block;
  height: 240px;
}
.rtb-col .author {
  font-weight: bold;
}
.rtb-col .read-more {
  margin: 1rem;
  text-decoration: underline;
}