.creepts {
  // background: url('../images/creepts-bg.jpg') no-repeat center 0;
  background: url('../images/creepts-bg-mobile.jpg') repeat center 0;
  box-sizing: border-box;
  // margin: 5rem 0 0;
  margin: 0;
  padding: 4rem 0;
  &__logo {
    margin: 0;
  }
  &__content {
    margin: 0 auto;
    // border: 1px solid red;
    overflow: hidden;
  }
  &__info {
    display: flex;
    align-items: center;
    p {
      font-family: 'Rubik Light';
      font-style: italic;
      font-size: 26px;
      color: #fff;
      margin: 0;
      word-break: break-word;
    }
    span {
      font-family: 'Rubik Light';
      font-size: 22px;
      font-weight: lighter;
      color: #fff;
      display: block;
    }
  }
  &__image {
    /* float: left; */
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    width: 50%;
    text-align: center;
    padding: 1rem;
  }
  @media only screen
  and (min-width: 320px)
  and (max-width: 991.98px) {
    // background: url('../images/creepts-bg-mobile.jpg') repeat center 0;
    padding: 4rem 0 2rem;
    // margin: 0;
    &__content{
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
      width: 50%;
      text-align: center;
      // padding: 1rem;
    }
    &__info {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
      width: 50%;
      text-align: center;
      justify-content: center;
    }
  }
  @media (min-width: 1200px) {
    .col-xl-5 {
      // -ms-flex: 0 0 66.666667%;
      // -webkit-box-flex: 0;
      // flex: 0 0 66.666667%;
      // max-width: 66.666667%;
      width: 786px!important;
      flex: initial;
      max-width: none;
    }
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &-gowebsite {
    font-family: 'Rubik BoldItalic';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px!important;
    background: #00FF33!important;
    color: #000036;
    /*box-shadow: 0 0 5px #000036, 0 0 10px #000036, 0 0 5px #00FF33, 0 0 20px #00FF33, 0 0 5px #00FF33, 0 0 0px #00FF33, 0 0 0px #00FF33;
    &:before {
      border-color: #00FF33;
    }*/
    position: relative;
    width: 200px;
    padding: .75rem!important;
    transition: all .3s ease;
    cursor: pointer;
    margin: 1.5rem 0 0;
    /*&:before {
      content: "";
      border: 1px solid;
      border-radius: 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translate(-1.2rem, -1.2rem);
      display: block;
      transition: all .3s ease;
    }*/
    &:hover {
      box-shadow: 0 0 5px #000036, 0 0 10px #000036, 0 0 5px #00FF33, 0 0 20px #00FF33, 0 0 5px #00FF33, 0 0 0px #00FF33, 0 0 0px #00FF33;
      /*transform: translateY(-.5em);
      &:before {
        transform: translateY(-.5em);
        transform: translate(-.8rem, -.8rem);
      }*/
    }
  }
}