#main {
  height: 100%;
  position: relative;
}

body{
  margin: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 2;
  background-color: $black;
  box-shadow: 0px -3px 13px 6px rgba(0, 0, 0, 0.5);
  transition: top 300ms ease;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: 992px) {
    padding-top: 40px;
    padding-bottom: 0;
    box-shadow: none;
    position: absolute;
  }

  &.hide {
    top: -100px;
    transition: top 300ms ease-out;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 46px;
    height: 46px;
    background-image: url(../images/logo-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      opacity: 1;
      width: 110px;
      height: 25px;
      background-image: url(../images/logo-name.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 110px 25px;
      position: absolute;
      left: calc(100% + 5px);
      top: 10px;
      transition: all 250ms ease-in-out;

      @media (min-width: 768px) {
        right: 0;
        left: auto;
      }
    }

    @media (min-width: 768px) {
      width: 165px;
    }

    &.mobile-active {

      &:after {
        opacity: 0;
      }
    }
  }

  &__social {
    display: none;

    @media (min-width: 992px) {
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__link {

      &:first-child a {
        margin-left: 0;
      }

      a {
        display: inline-block;
        margin-left: 10px;

        i.icon {

        }
      }
    }
  }
}

@media (min-width: 992px) {
  #nav__menu__language {
    display: none
  }
}

.nav {
  // width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 991px) {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: $white;
    transition: all 300ms ease-in;
    display: block;
    padding: 20px;
    box-sizing: border-box;
  }

  &.active {
    left: 30%;
    .nav__menu__item a {
      color: #000;
    }

    @media (min-width: 768px) {
    left: 50%;
  }

    .nav__button__menu {
      left: -25px;

      @media (min-width: 768px) {
        left: -35px;
      }
    }

    .nav__menu {

      margin-top: 5px;

      // &__item:nth-child(3) a:after {
      //   width: 180px;
      // }

      &__item a:after {
        width: 100%;
      }
    }
  }

  &__button__menu {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    top: 22px;
    transition: left 300ms ease-in 300ms;

    @media (min-width: 768px) {
      width: 50px;
      left: -50px;
    }

    @media (min-width: 992px) {
      display: none;
    }

    .bar {
      display: block;
      width: 100%;
      height: 4px;
      background-color: $white;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      transition: all 250ms ease-in;
      position: relative;


      &:nth-child(1) {
        top: 0px;
        left: 0;
      }

      &:nth-child(2) {
        top: 8px;
        left: 0;
      }

      &:nth-child(3) {
        top: 16px;
        left: 0;
      }
    }

    &.close {
      .bar {

        &:nth-child(1) {
          width: 50%;
          top: 4px;
          left: 40%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          top: 6px;
          left: 0;
        }

        &:nth-child(3) {
          width: 50%;
          top: 8px;
          left: 40%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__item {

      a {
        display: inline-block;
        font-family: 'Rubik Light';
        font-weight: lighter;
        font-size: 20px;
        // color: $black;
        color: #fff;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 25px;
        padding-bottom: 5px;
        position: relative;

        @media (min-width: 992px) {
          margin-bottom: 0;
        }

        &:after {
          content: '';
          display: block;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $black;
          transition: width 550ms ease-out 400ms;
        }

        @media (min-width: 1300px) {
          color: $white;
          margin-right: 30px;
          margin-left: 30px;
        }
        @media only screen
        and (min-width : 992px)
        and (max-width : 1270px) {
          margin-right: 15px;
          margin-left: 15px;
          font-size: 16px;
        }
      }
    }

    &__item--social-mobile {
      list-style: none;
      padding-left: 0;
      margin-top: 5px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (min-width: 992px) {
        display: none;
      }

      li {
        margin-right: 15px;

        a {
          color: #000;
          font-size: 1.5rem;
          i.icon {
          }
          @media (max-width: 575.98px) {
            font-size: .59rem;
          }
        }
      }
    }
  }
}

.content {
  min-height: 100%;
  overflow: hidden;
}

.footer {
  background-color: $black;
  padding: 70px 0 calc(100px + 70px);
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 5%;
    }

    @media (min-width: 992px) {
      flex-wrap: nowrap;
      flex-direction: row;
    }
    @media only screen
    and (min-width : 992px)
    and (max-width : 1270px) {
      padding: 0 5%;
    }
  }

  &__menu {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 0;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      margin-bottom: 0;
      margin-right: 0;
    }

    @media only screen
        and (min-width : 992px)
        and (max-width : 1270px) {
          width: 18%;
        }

    li {
      display: block;
      margin-bottom: 10px;

      span {
        display: block;
        font-family: 'Rubik Regular';
        font-size: 22px;
        color: $white;
        margin-bottom: 15px;
      }

      a {
        font-family: 'Rubik Light';
        font-weight: lighter;
        font-size: 16px;
        text-decoration: none;
        color: #c3c3c3;
        transition: all 350ms ease-out;
        border-bottom: 1px solid transparent;

        &:not(.footer__menu--social__icon):hover {
          border-bottom: 1px solid #aaaaaa;
        }

        @media (max-width: 992px) {
          width: 100%;
          border-bottom: 3px solid $black;
        }
      }

      .footer__menu--social__icon {
        transition: opacity 350ms ease-out;
        opacity: 1;
        font-size: 1.8rem;
        color: #fff;

        &:hover {
          opacity: 0.8;
        }
        @media (max-width: 575.98px) {
          font-size: .8rem;
        }
        @media only screen
        and (min-width : 992px)
        and (max-width : 1270px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__menu--social {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      margin-top: 60px;
    }

    @media (min-width: 992px) {
      margin-top: 0;
      width: auto;
      text-align: left;
    }

    li {
      display: inline;
      margin-right: 15px;

      // &:first-child {
      //   margin-right: 0;
      // }

      // > span {
      //   display: block;
      // }

      // &:first-child {
      //   display: block;
      //   margin-bottom: 30px;

      // }

      // &:nth-child(8) {
      //   margin-right: 0;
      // }

      &:last-child {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
        flex-direction: column-reverse;
        text-align: center;

        @media (min-width: 992px) {
          flex-direction: row;
          width: auto;
        }

        .cartesi-logo {
          width: 95px;
          height: 94px;

          @media (min-width: 768px) {
            margin-right: 25px;
          }
        }

        span {
          white-space: pre-line;
          font-size: 18px;
          line-height: 23px;
        }
      }
    }
  }

  &__copyright {
    background-color: $white;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Rubik Light';
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;

    @media (min-width: 992px) {
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
    }

    a {
      display: inline-block;
    }

    .contra-logo {
      width: 89px;
      height: 14px;
      margin-left: 8px;
    }
  }
}

@media (min-width: 1400px) {
  .small-paragraph-features {
    display: none;
  }
  .big-paragraph-features {
    display: block;
  }
}

@media (max-width: 1400px) {
  .small-paragraph-features {
    display: block;
    max-width: 500px;
  }
  .big-paragraph-features {
    display: none;
  }
}

@media (min-width: 1100px) {
  .small-paragraph-how-to {
    display: none;
  }
  .big-paragraph-how-to {
    display: block;
  }
}

@media (max-width: 1100px) {
  .small-paragraph-how-to {
    display: block;
  }
  .big-paragraph-how-to {
    display: none;
  }
}

@media (min-width: 800px) {
  .small-paragraph-roadmap {
    display: none;
  }
  .big-paragraph-roadmap {
    display: block;
  }
}

@media (max-width: 800px) {
  .small-paragraph-roadmap {
    display: block;
  }
  .big-paragraph-roadmap {
    display: none;
  }
}
