.team-augusto-teixeira-phd {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -180px 0px;
  width: 180px;
  height: 180px;
}
.team-boris {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -360px 0px;
  width: 180px;
  height: 180px;
}
.team-carlo {
  display: block;
  background-image: url(images/sprite.png);
  background-position: 0px -181px;
  width: 180px;
  height: 180px;
}
.team-colin-steil {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -180px -181px;
  width: 180px;
  height: 180px;
}
.team-danilo-tuler {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -360px -181px;
  width: 180px;
  height: 180px;
}
.team-diego-nehab {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -540px 0px;
  width: 180px;
  height: 180px;
}
.team-erick-de-moura {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -540px -180px;
  width: 180px;
  height: 180px;
}
.team-fabiana_cecin {
  display: block;
  background-image: url(images/sprite.png);
  background-position: 0px -361px;
  width: 180px;
  height: 180px;
}
.team-felipe {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -180px -361px;
  width: 180px;
  height: 180px;
}
.team-kevin {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -360px -361px;
  width: 180px;
  height: 180px;
}
.team-luiz-henrique-de-figueiredo-phd {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -540px -361px;
  width: 180px;
  height: 180px;
}
.team-michael {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -720px 0px;
  width: 180px;
  height: 180px;
}
.team-serguei-popov-phd {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -720px -180px;
  width: 180px;
  height: 180px;
}
.team-stas-oskin {
  display: block;
  background-image: url(images/sprite.png);
  background-position: 0px 0px;
  width: 180px;
  height: 181px;
}
.team-stephen {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -720px -360px;
  width: 180px;
  height: 180px;
}
.team-tkhamed {
  display: block;
  background-image: url(images/sprite.png);
  background-position: 0px -541px;
  width: 180px;
  height: 180px;
}
.team-victor {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -180px -541px;
  width: 180px;
  height: 180px;
}
.team-willian-bao-bean {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -360px -541px;
  width: 180px;
  height: 180px;
}
