$black: #000000;
$white: #ffffff;
$grey: #808285;

.icon {
  font-size: 0;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-caret-down {
  background-image: url(../images/icon-caret-down.png);
  width: 53px;
  height: 18px;
}

.icon-arrow-right {
  background-image: url(../images/icon-arrow-right.png);
  width: 19px;
  height: 21px;
}

.icon-arrow-right-reverse {
  background-image: url(../images/icon-arrow-right-reverse.jpg);
  width: 19px;
  height: 21px;
}

.icon-play {
  background-image: url(../images/icon-play.png);
  width: 58px;
  height: 56px;
}


.icon-play-reverse {
  background-image: url(../images/icon-play-reverse.png);
  width: 56px;
  height: 56px;
}

.icon-slow {
  background-image: url(../images/icon-slow.png);
  width: 38px;
  height: 38px;
}

.icon-restrictive {
  background-image: url(../images/icon-restrictive.png);
  width: 38px;
  height: 38px;
}

.icon-expensive {
  background-image: url(../images/icon-expensive.png);
  width: 38px;
  height: 38px;
}

.icon-finance {
  background-image: url(../images/icon-finance.svg);
  width: 122px;
  height: 132px;
}

.icon-cartesi {
  background-image: url(../images/contra-cartesi.svg);
  width: 95px;
  height: 94px;
}
