// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
@import "../assets/css/imagine/imagine.scss";

@import 'theme';
@import 'base';
@import 'keyframes';
@import 'module';
@import 'layout';


rect[width="1920"][fill="#ffffff"] {
  fill: #000;
}
