
@import "fonts";
@import "normalize";
@import "fancybox";
@import "slick";
@import "animate";
@import "jeet";
@import "imagine";
@import 'theme';
@import 'base';
@import 'keyframes';
@import 'module';
@import 'layout';
//@import 'sprite';
 
/*+----------------------------------------------+
  BOOTSTRAP GRID SYSTEM
+-----------------------------------------------+*/
@import '_bootstrap4-grid';

/*+----------------------------------------------+
  MAIN
+-----------------------------------------------+*/

rect[width="1920"][fill="#ffffff"] {
  fill: #000;
}

//to lazyload
img {
  opacity: 1;
  transition: opacity 0.3s;

  &[data-src] {
    opacity: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 990px){
	.nav-sec {
	  display: none;
	}
}

// https://stackoverflow.com/questions/8860631/how-to-get-same-effect-as-jquerys-slidetoggle-using-css-3-transitions
.nav-sec {
  margin: 0;
  @media (min-width: 992px){
    #lightpaper__area {
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
      height: 39px;
      &:hover {
        border-radius: 23px;
        transition: all .3s ease-in-out;
        // height: 215px;
        height: 215px;
        -webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
        transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
        .lightpaper__dropdown {
          display: block;
          transition: all .3s ease-in-out;
          padding: 0;
        }
        .fa-caret-down {
          transform: rotate(-180deg);
          transition: all .3s ease-in-out;
        }
        .nav__menu__btn {
          background: transparent;
          color: #fff;
        }
      }
    }
  }
  
  .nav__menu__item {
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 0 1rem;
    transition: all .3s ease-in-out;
    .fa-caret-down {
      transform: rotate(0);
      transition: all .3s ease-in-out;
    }    
    &.open {
      border-radius: 23px;
      transition: all .3s ease-in-out;
      .fa-caret-down {
        transform: rotate(-180deg);
        transition: all .3s ease-in-out;
      }
      .nav__menu__btn {
        background: transparent;
        color: #fff;
      }
    }
  }
  #nav__menu__btn,
  .nav__menu__btn {
    border-radius: 50px;    
    font-family: 'Rubik Light';
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    margin: 0;
    padding: 0;
    width: 185px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-caret-down {
      margin-left: .5rem
    }
  }
}
@media (max-width: 990px){
  #lightpaper__area {
    overflow: hidden;
    padding: 0;
    height: 56px;
    border: 0;
    border-radius: 0;
    -webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
    transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
    .lightpaper__dropdown {
      padding: 0 0 0 30px;
    }
    &.open {
      height: 212px;
      -webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
      transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
      .lightpaper__dropdown {
        border-radius: 0;
        transition: all .3s ease-in-out;
        height: 212px;
        -webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
        transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
      }
      .fa-caret-down {
        transform: rotate(-180deg);
        transition: all .3s ease-in-out;
      }
    }
  }
}
.lightpaper__dropdown {
  transition: all .3s ease-in-out;
  list-style: none;
  padding: 0;
  @media (min-width: 992px){
    li {
      margin: 1rem 0;
    }
    a {
      margin: 0 0 0 18px;
    }
  }
  a {
    display: inline-block;    
  }
}

@media only screen
and (min-width : 992px)
and (max-width : 1220px) {
	.nav__menu__btn {
    font-size: 16px;
    padding: .5rem;
  }
}
.menu-whitepaper {
  &:hover {
    background: #fff;
    color: #000;
  }
}



/* CREEPTS
------------------------------------------------ */
@import 'creepts';

/* BLOG
------------------------------------------------ */
@import 'blog';


/* TEAM
------------------------------------------------ */
.team__member img {
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}
.team__member:hover img {
  /* border: 1px solid gray; */
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -o-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}

/* PARTNERS
------------------------------------------------ */
.slick-arrow {
  width: 40px;
  height: 74px;
  border: 0;
  position: absolute;
  top: 50%;
  margin: -37px auto; 
  cursor: pointer;
  z-index: 9999;
}
.slick-prev {
  background:url('../images/btn-arrow-left.svg') no-repeat 0 center / cover;
  text-indent: -9999px;
  left: 1rem;
}
.slick-next {
  background:url('../images/btn-arrow-right.svg') no-repeat 0 center / cover;
  text-indent: -9999px;
  right: 1rem;
}

/* http://www.learningjquery.com/examples/style-flash.html */

/* FAQ
------------------------------------------------ */
@import 'faq'; 

.timeline {
  text-align: center;
  padding: 60px 0;
  &__title {
    margin: 60px 0;
  }
  &__content {
    display: block;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }
  &__obs {
    font-family:Rubik Regular;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: gray;
  }
}

@media (min-width:600px) {
  .timeline__obs {
    display: none;
  }
}

.view-link {
  font-family:Rubik Regular;
  font-size: 16px;
  text-align: center;
}

.view-link a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .35s ease-out;
}
.view-link a:hover {
  border-bottom: 1px solid #000;
}