.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 60px;
  background: linear-gradient(
    180deg,
    rgba(218, 218, 218, 0.28) -13.59%,
    rgba(250, 250, 250, 0) 100%
  );

  @media (max-width: 720px) {
    padding: 68px 50px;
  }

  @media (max-width: 490px) {
    padding: 68px 40px;
  }

  .blockContainer {
    // padding-bottom: 2rem;
    text-align: center;

    .title {
      justify-content: center;
      margin-bottom: 35px;

      h1 {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000;

        @media (max-width: 490px) {
          font-size: 9vw;
        }
      }
    }

    .cardGroup {
      justify-content: center;
      padding: 0 80px;

      @media (max-width: 1500px) {
        padding: 0 40px;
      }

      @media (max-width: 1250px) {
        padding: 0;
      }

      .cardLayout {
        padding: 10px 40px;

        @media (max-width: 1500px) {
          padding: 0 20px;
        }

        @media (max-width: 1250px) {
          margin: 10px;
        }

        @media (max-width: 720px) {
          margin: 20px 0;
        }

        .bodyLayout {
          text-align: left;
          justify-content: center;
          padding: 0 20px;

          h2 {
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #000;
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: flex-end;
            height: 77px;

            img {
              margin-right: 12px;
            }

            span {
              margin-bottom: -3px;
              line-height: 100%;
            }

            @media (max-width: 1250px) {
              font-size: 28px;
            }

            @media (max-width: 720px) {
              font-size: 24px;
              height: initial;
            }
          }

          p {
            font-family: Rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            margin-top: 10px;
          }

          @media (max-width: 700px) {
            padding: 0;

            p {
              font-size: 4vw;
            }
          }
        }
      }
    }

    .btnGroup {
      justify-content: center;
      text-align: center;
      margin-top: 50px;
    }
  }
}
