.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 60px 40px 60px;
  background: linear-gradient(
    180deg,
    rgba(218, 218, 218, 0.28) -13.59%,
    rgba(250, 250, 250, 0) 100%
  );

  @media (max-width: 720px) {
    padding: 68px 50px;
  }

  @media (max-width: 490px) {
    padding: 68px 40px;
  }

  .blockContainer {
    padding-bottom: 2rem;
    text-align: center;

    .title {
      justify-content: center;
      margin-bottom: 35px;

      h1 {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000;

        @media (max-width: 490px) {
          font-size: 9vw;
        }
      }
    }

    .itemsGroup {
      justify-content: space-between;
      padding-top: 20px;
      width: 80%;
      margin: auto;

      @media (max-width: 1500px) {
        width: 100%;
        justify-content: center;
      }

      .item {
        width: 180px;

        @media (max-width: 1252px) {
          width: 33%;
          justify-content: center;
          margin: 10px 0;
        }

        @media (max-width: 720px) {
          width: 50%;
        }

        @media (max-width: 490px) {
          width: 100%;
        }
      }

      img {
        width: 100%;
        max-width: 100px;
        margin-top: 24px;
      }

      p {
        margin: 24px 0;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #666666;
      }
    }
  }
}
