.container {
    text-align: center;
    z-index: 1;
    padding-bottom: 100px;

    .boxCenter {
      max-width: 100%;
      text-align: center;
      padding-bottom: 100px;

      .title {
        justify-content: center;
  
        h1 {
          font-size: 48px;
          font-weight: 300;
          max-width: 900px;
          margin-bottom: 30px;
          letter-spacing: -0.02em;
  
          @media (max-width: 466px) {
            font-size: 9vw;
          }
        }
      }
  
      .subTitle {
        justify-content: center;
        p {
          font-weight: 300;
          max-width: 876px;
          font-size: 20px;
          color: #000;
          font-feature-settings: "liga" off;
  
          @media (max-width: 466px) {
            font-size: 4.5vw;
            padding: 0 10px;
          }
        }
      }

      .btnDefault {
        color: #fff;
        background: #666666;
        margin: 10px 10px;
        font-weight: 500;
        outline: none;
        text-transform: uppercase;
        width: initial;
        min-width: 300px;
  
        &:hover {
          background: #1f70c1;
        }
  
        &:focus {
          background: #217dda;
        }
  
        svg {
          margin-right: 8px;
        }
  
        @media (max-width: 425px) {
          min-width: 130px;
          width: 90%;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: initial;
        }
      }

    }
  }
  