@import "./variables.scss";

// Slick used for carousel
// @import "./slick/slick";
// @import "./slick/slickTheme";

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
div,
article,
img,
i {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #000000;
}

button {
  border-radius: 3px !important;
  border: none;
  font-size: 14px !important;
  text-transform: capitalize;
  font-weight: 400;
  width: 213px;
  height: 53px;
  padding: 10px 20px;
  transition: all 0.22s cubic-bezier(0.6, 0.04, 0.98, 0.335);

  @media (max-width: 456px) {
    padding: 5px;
    max-width: 185px;
  }
}

.news {
  border-radius: 3px;
}

@media (max-width: 450px) {
  .slick-arrow {
    z-index: 1;
    &.slick-next {
      right: -10px !important;
    }
    &.slick-prev {
      left: -20px !important;
    }
  }
}

a:hover{
  transition: ease;
  color:#8aa5c2 !important ;
}