@import "../../../styles/variables.scss";

.menu {
  color: $white;
  &-white {
    color: $black;

    .section {
      & > a {
        color: $black !important;
        &::after {
          display: none;
        }
      }
      .dropdown-itens {
        background: $black;
        // color: $white;
      }
      .dropdown-item {
        margin: auto;
        color: $white !important;
        &:hover {
          background: #ffffff38;
        }
      }

      & > div {
        background-color: $black;
      }

      @media (max-width: 1235px) {
        &.whitepaper {
          display: flex;
          flex-direction: column;
        }
      }

      @media (max-width: 1192px) {
        max-width: 192px;
        margin: auto;
      }
    }

    .svg {
      color: $white;
      background: $black;
      padding: 0 1px;
    }

    .locale {
      background-color: $black;
      color: $white !important;
      width: 49px;
      height: 23px;
      margin: auto;
      // margin-left: auto;
      border-radius: 3px;
      padding-left: 5px;
      position: absolute;
      right: -53px;
      top: 30px;

      & > div {
        background-color: $black;
        max-width: 50px;
        min-width: 50px;
        position: relative;

        text-align: center;
        left: 0px;
      }
      & a {
        color: $white;
      }

      .item-locale {
        &:hover {
          margin: auto;
          color: $white !important;
          &:hover {
            background: #ffffff36;
          }
        }
      }

      @media (max-width: 1488px) {
        right: 0px;
      }

      @media (max-width: 1192px) {
        position: relative;
        top: auto;
        right: auto;
        margin: auto !important;

        & > div {
          top: auto;
          left: -5px;
        }
        // margin-left: 0 !important;
      }

      // @media (max-width: 991px) {
      //   position: relative;
      //   top: auto;
      //   right: auto;
      // }

      a {
        margin-left: 0px !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 14px !important;
        padding: 5px 0 !important;
        color: $white !important;
        margin: auto !important;

        &::after {
          display: none;
        }
      }
      @media (max-width: 1192px) {
        margin: auto !important;
        // margin-left: 5px !important;
      }
    }
  }
  .section {
    a {
      color: $white !important;
      &::after {
        display: none;
      }
    }
    .dropdown-item {
      margin: auto;
      color: $black !important;
      &:hover {
        background: #00000036;
      }
    }

    @media (max-width: 1235px) {
      &.whitepaper {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: 1192px) {
      max-width: 192px;
      margin: auto;
    }
  }

  .svg {
    color: black;
    background: white;
    padding: 0px 1px;
  }

  .locale {
    background-color: $white;
    color: $black !important;
    height: 23px;
    width: 49px;
    margin: auto;
    border-radius: 3px;
    position: absolute;
    right: -53px;
    top: 30px;

    & > div {
      max-width: 50px;
      position: relative;
      top: auto;
      min-width: 50px;
      left: 0px;
    }

    .item-locale {
      &:hover {
        margin: auto;
        color: $black !important;
        &:hover {
          background: #00000036;
        }
      }
    }

    @media (max-width: 1488px) {
      right: 0px;
    }

    @media (max-width: 1192px) {
      position: relative;
      top: auto;
      right: auto;

      .item-locale {
        text-align: center !important;
      }
    }

    a {
      margin-left: 0px !important;
      font-weight: 500 !important;
      font-size: 12px !important;
      line-height: 14px !important;
      padding: 5px 0px !important;
      color: $black !important;

      @media (max-width: 1192px) {
        margin: auto !important;
        // margin-left: 5px !important;
      }

      &::after {
        display: none;
      }
    }
  }
}
