.section {
  a {
    color: #000 !important;
  }
}

.locale {
  background-color: #000;
  color: #fff !important;
  height: 100%;
  width: 65px;
  margin: auto;

  a {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 5px !important;
    color: #ffffff !important;
  }
}
