@import "../../../styles/variables.scss";

// locals items
%dropdown-menu {
  // position: absolute;
  top: -17px;
  // left: -14px;
  z-index: 1000;
  display: none;
  // float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  // margin: .125rem 0 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  // border-radius: .25rem;
  @media (max-width: 1340px) {
    left: -29px;
  }
  @media (max-width: 1199px) {
    top: -13px;
    position: absolute;
    left: 19px;
    width: 212px;
  }
}

.section {
  a {
    @media (max-width: 1199px) {
      // font-size: 22px;
    }
  }
}

.section.anchor,
.anchor {
  &:hover {
    text-decoration: underline;
  }
}

.dropdown-item {
  &:active,
  &:focus {
    background: transparent;
    outline: none;
    border: 0;
  }
}

.dropdown-hover::after {
  display: none;
}

.menu {
  color: $white;
  .section.whitepaper {
    min-width: 160px;
    padding: 0.5rem 5px;

    a {
      margin: 0 2px auto 10px;
    }
  }

  .section {
    border-radius: 7px;
    width: min-content;
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .dropdown-hover {
      position: relative;
    }
    .dropdown-menu {
      @extend %dropdown-menu;

      .dropdown-itens {
        @media (max-width: 1199px) {
          text-align: center;
          padding: 17px 5px;
          padding-left: 5px;
        }
      }

      .dropdown-item {
        padding: 0;
        &.active {
          background: transparent;
        }
      }
    }
  }

  .locale {
    margin-top: 0.3rem;
    width: 49px;
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .dropdown-hover {
      position: relative;
      // z-index: 1001;
    }
    .dropdown-menu {
      @extend %dropdown-menu;
      top: -3px;
      left: -1px;
      padding: 0;
      min-width: 55px;
      width: 55px;

      .dropdown-item {
        padding: 0;
        &.active {
          background: transparent;
        }
      }
    }
  }

  // Light-menu
  &-white {
    // .section.whitepaper {
    //   min-width: 160px;
    //   padding: 0.5rem 5px;

    //   a {
    //     margin: 0 2px auto 10px;
    //   }
    // }

    .section {
      border-radius: 7px;
      width: min-content;
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
      .dropdown-hover {
        position: relative;
      }
      .dropdown-menu {
        @extend %dropdown-menu;

        .dropdown-itens {
          @media (max-width: 1199px) {
            text-align: center;
            padding: 17px 5px;
            padding-left: 5px;
          }
        }

        .dropdown-item {
          padding: 0;
          &.active {
            background: transparent;
          }
        }
      }
    }

    .locale {
      margin-top: 0.3rem;
      width: 49px;
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
      .dropdown-hover {
        position: relative;
        // z-index: 1001;
      }
      .dropdown-menu {
        @extend %dropdown-menu;
        top: -3px;
        left: -1px;
        padding: 0;
        min-width: 55px;
        width: 55px;

        .dropdown-item {
          padding: 0;
          &.active {
            background: transparent;
          }
        }
      }
    }

    .section.whitepaper {
      min-width: 160px;
      padding: 0.5rem 5px;

      a {
        margin: 0 2px auto 10px;
      }
    }
    .section {
      max-height: 37px;
      position: relative;
      z-index: 3;
      overflow: hidden;
      transition: max-height 0.4s linear;

      .iconExpand {
        img {
          transition: all 0.4s linear;
        }
      }

      &:hover {
        transition: all 0.4s linear;
        max-height: 300px;
        .iconExpand {
          img {
            transform: rotate(-180deg);
            transition: all 0.4s linear;
          }
        }

        .dropdowner {
          background: linear-gradient(180deg, #f3f3f3 -13.59%, #ffffff 100%);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        }
        // overflow: visible;
      }

      position: relative;
      div {
        border-radius: 7px;
      }
      .dropdowner {
        min-height: max-content;
        position: relative;
        z-index: 15;
        margin-top: -10px;
        margin-bottom: -10px;
        padding: 11px 0;
        border-radius: 7px;
      }

      .dropdown-itens {
        margin-top: -10px;
        margin-bottom: -10px;
        padding: 17px 15px;
        padding-left: 22px;
        background: linear-gradient(180deg, #f3f3f3 -13.59%, #ffffff 100%);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
      }

      a {
        color: $black !important;
        &::after {
          display: none;
        }
      }
      .dropdown-item {
        margin: auto;
        white-space: break-spaces;
        font-style: normal;
        font-weight: 300;
        line-height: 200%;

        // color: $black !important;
        color: $black !important;
        transition: 0.3s;
        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }

      @media (max-width: 1235px) {
        &.whitepaper {
          display: flex;
          flex-direction: column;
        }
      }

      @media (max-width: 1199px) {
        width: 250px;
        margin: auto;
      }
    }

    .svg {
      color: white;
      background: black;
      padding: 0px 1px;
    }

    .locale {
      background-color: $black;
      color: $white !important;
      max-height: 23px;
      z-index: 3;
      overflow: hidden;
      transition: max-height 0.4s linear;
      border-radius: 3px;
      position: absolute;
      right: -53px;
      top: 40px;
      padding-left: 7px;

      &:hover {
        transition: all 0.4s linear;
        max-height: 300px;
        .iconExpand {
          img {
            transform: rotate(-180deg);
            transition: all 0.4s linear;
          }
        }
        // overflow: visible;
      }

      .dropdowner {
        min-height: max-content;
        position: relative;
        z-index: 15;
        margin-top: 0;
        background: #000000;
        border-radius: 3px;
      }

      .dropdown-hover {
        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }

      @media (max-width: 1199px) {
        padding-right: 7px;
        padding-left: 0px;
        margin: auto;
      }

      a {
        margin: 0px 7px !important;
      }

      & > div {
        max-width: 50px;
        position: relative;
        top: auto;
        min-width: 50px;
        left: 0px;
      }
      .iconExpand {
        img {
          transition: all 0.4s linear;
        }
      }

      .item-locale {
        &:hover {
          margin: auto;
          color: $white !important;
          &:hover {
            background: transparent;
            text-decoration: underline;
          }
        }
      }

      @media (max-width: 1488px) {
        right: -60px;
      }

      @media (max-width: 1199px) {
        position: relative;
        top: auto;
        right: auto;

        .item-locale {
          text-align: center !important;
        }
      }

      a {
        margin-left: 0px !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 14px !important;
        padding: 5px 0px !important;
        color: $white !important;

        @media (max-width: 1199px) {
          margin: auto !important;
          // margin-left: 5px !important;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  // Dark-menu
  .section {
    max-height: 37px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: max-height 0.4s linear;

    .iconExpand {
      img {
        transition: all 0.4s linear;
      }
    }

    &:hover {
      transition: all 0.4s linear;
      max-height: 300px;
      .iconExpand {
        img {
          transform: rotate(-180deg);
          transition: all 0.4s linear;
        }
      }
      // overflow: visible;
    }

    position: relative;
    div {
      border-radius: 7px;
    }
    .dropdowner {
      min-height: max-content;
      position: relative;
      z-index: 15;
      margin-top: -10px;
      margin-bottom: -10px;
      padding: 11px 0;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
      background: linear-gradient(178.26deg, #060505 22.29%, #454545 104.81%);
      border-radius: 7px;
    }

    .dropdown-itens {
      margin-top: -10px;
      margin-bottom: -10px;
      padding: 17px 15px;
      padding-left: 22px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
      background: linear-gradient(178.26deg, #060505 22.29%, #454545 104.81%);
      border-radius: 7px;
    }

    a {
      color: $white !important;
      &::after {
        display: none;
      }
    }
    .dropdown-item {
      margin: auto;
      white-space: break-spaces;
      font-style: normal;
      font-weight: 300;
      line-height: 200%;

      // color: $black !important;
      color: $white !important;
      transition: 0.3s;
      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }

    @media (max-width: 1235px) {
      &.whitepaper {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: 1199px) {
      width: 250px;
      margin: auto;
    }
  }

  .svg {
    color: black;
    background: white;
    padding: 0px 1px;
  }

  .locale {
    background-color: $white;
    color: $black !important;
    max-height: 23px;
    z-index: 3;
    overflow: hidden;
    transition: max-height 0.4s linear;
    border-radius: 3px;
    position: absolute;
    right: -53px;
    top: 40px;
    padding-left: 7px;

    &:hover {
      transition: all 0.4s linear;
      max-height: 300px;
      .iconExpand {
        img {
          transform: rotate(-180deg);
          transition: all 0.4s linear;
        }
      }
      // overflow: visible;
    }

    .dropdowner {
      min-height: max-content;
      position: relative;
      z-index: 15;
      margin-top: 0;
      background: #ffffff;
      border-radius: 3px;
    }

    .dropdown-hover {
      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }

    @media (max-width: 1199px) {
      padding-right: 7px;
      padding-left: 0px;
      margin: auto;
    }

    a {
      margin: 0px 7px !important;
    }

    & > div {
      max-width: 50px;
      position: relative;
      top: auto;
      min-width: 50px;
      left: 0px;
    }
    .iconExpand {
      img {
        transition: all 0.4s linear;
      }
    }

    .item-locale {
      &:hover {
        margin: auto;
        color: $black !important;
        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 1488px) {
      right: -60px;
    }

    @media (max-width: 1199px) {
      position: relative;
      top: auto;
      right: auto;

      .item-locale {
        text-align: center !important;
      }
    }

    a {
      margin-left: 0px !important;
      font-weight: 500 !important;
      font-size: 12px !important;
      line-height: 14px !important;
      padding: 5px 0px !important;
      color: $black !important;

      @media (max-width: 1199px) {
        margin: auto !important;
        // margin-left: 5px !important;
      }

      &::after {
        display: none;
      }
    }
  }
}
