.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 68px 40px;
  background: linear-gradient(
    180deg,
    rgba(218, 218, 218, 0.28) -13.59%,
    rgba(250, 250, 250, 0) 100%
  );
  position: relative;

  @media (max-width: 720px) {
    padding: 68px 30px;
  }

  @media (max-width: 490px) {
    padding: 68px 10px;
  }

  .blockContainer {
    padding-bottom: 2rem;
    text-align: center;

    .title {
      justify-content: center;
      margin-bottom: 35px;

      h1 {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000;

        @media (max-width: 490px) {
          font-size: 9vw;
        }
      }
    }

    .partnersContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 40px;
      max-width: 90%;
      margin: auto;
      position: relative;
      z-index: 2;

      .partnerRow {
        display: flex;
        justify-content: center;
        margin: auto;

        @media (max-width: 1200px) {
          flex-wrap: wrap;
          padding: 0 100px;
        }

        @media (max-width: 890px) {
          padding: 0;
        }

        .partnerBlock {
          width: 160px;
          height: 160px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          @media (max-width: 1550px) {
            width: 140px;
            min-width: 140px;
            height: 140px;
            min-height: 140px;
          }

          @media (max-width: 1300px) {
            width: 120px;
            min-width: 120px;
            height: 120px;
            min-height: 120px;
          }

          @media (max-width: 1200px) {
            width: 13vw;
            min-width: 13vw;
            height: 13vw;
            min-height: 13vw;
          }

          @media (max-width: 840px) {
            width: 160px;
            min-width: 160px;
            height: 160px;
            min-height: 160px;
          }

          @media (max-width: 490px) {
            width: 29vw;
            min-width: 29vw;
            height: 29vw;
            min-height: 29vw;
          }

          img {
            max-width: max-content;
            width: 100%;
          }

          &:not(.partnerBlockEmpty) {
            border: 1px solid #dedede;
            padding: 14px;
            background-color: #fff;
          }

          &:not(.partnerBlockEmpty) {
            z-index: 1;
            transition: 0.3s;
            &:hover {
              z-index: 2;
              transform: scale(1.15);
            }
          }

          .partnerLines {
            max-width: initial;
            width: 100%;
          }
        }

        .partnerBlockEmpty {
          background-color: transparent;
          border: none;
          opacity: 0.6;

          @media (max-width: 890px) {
            &:not(.partnerLines) {
              display: none;
            }
          }
        }

        @media (max-width: 1400px) {
          max-width: 95%;
        }

        @media (max-width: 720px) {
          max-width: 100%;
        }

        // div {
        //   flex: 1;
        //   max-width: 630px;
        //   z-index: 1;
        //   img {
        //     width: 100%;
        //   }
        // }

        // @media (max-width: 990px) {
        //   display: block;
        //   padding: 30px 10px 0px 10px;
        // }
      }
    }

    .svgLeft {
      width: 100%;
      max-width: 720px;
      position: absolute;
      top: initial;
      bottom: -700px;
      left: 0px;
      z-index: 0;
      transition: all 0.2s ease;

      @media (max-width: 720px) {
        opacity: 0.7;
        bottom: -620px;
      }

      @media (max-width: 490px) {
        bottom: -380px;
      }
    }
  }
}
