.submenu{
    max-width: 100%;
    max-height: 25px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;

    ul {
        list-style-type: none;
    }
    
}

.menu{
    margin-right: 100px;
    height: 10px;
}
