
.menu{
    padding-bottom: 150px;
    .submenu{
        margin-bottom: 0;
        max-height: 25px;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
    
        ul {
            padding-left: 10px;
            list-style-type: none;
        }
        
        .item{
            .link{
                border-radius: .25rem;
            }
                
            ul {
                padding-left: 10px;
                list-style-type: none;
            }
        }
    }
}
