.join {
  background: linear-gradient(179.59deg, #060505 22.29%, #454545 104.81%);
  width: 100%;
  min-height: 592px;
  transition: all 0.1s ease;
  color: #fff;
  .block-titles {
    padding-top: 250px;
    max-width: 800px;
    padding-left: 200px;
    .title {
    }

    .description {
    }
  }

  .outline {
  }
}
