@import "../../../styles/variables.scss";

.join {
  background: linear-gradient(179.59deg, #060505 22.29%, #454545 104.81%);
  width: 100%;
  min-height: 592px;
  max-height: 600px;
  height: 100%;
  transition: all 0.1s ease;
  color: $white;
  @media (max-width: 600px) {
    max-height: 700px;
  }
  .block-titles {
    position: relative;
    z-index: 1;
    padding-top: 210px;
    max-width: 855px;
    padding-left: 246px;
    padding-bottom: 150px;

    @media (max-width: 1400px) {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 150px;
    }
    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 57px;
      letter-spacing: -0.02em;
      margin-bottom: 30px;
    }

    .description {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      max-width: 548px;
      line-height: 150%;
      font-feature-settings: "liga" off;
      // margin-bottom: 150px;
    }

    @media (max-width: 490px) {
      text-align: center;
      .title {
        font-size: 9vw;
      }
      // .description {
      //   font-size: 7vw;
      // }
    }
  }

  .outline {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 1;
  }

  .effect {
    position: absolute;
    right: 0;
    min-height: 592px;
    mix-blend-mode: multiply;
    transform: rotate(-180deg);
    height: 100%;
    z-index: 0;
    top: 0;
    opacity: 0.5;

    @media (max-width: 600px) {
      min-height: 700px;
    }
  }
}
