@import "../../styles/variables.scss";

.header {
  background: transparent;
  position: absolute;
  z-index: 2;
  width: 100%;
  color: $white;
  padding-left: 30px;
  padding-right: 20px;

  // @media (max-width: 1220px) {
  //   padding: 0 30px 0 20px;
  // }

  @media (max-width: 1199px) {
    padding: 0;
  }

  &-white {
    @extend .header;
    color: $black !important;

    @media (min-width: 1360px) {
      padding-right: 10%;
    }

    @media (min-width: 1200px) and (max-width: 1359px) {
      padding-right: 7%;
    }

    @media (max-width: 1199px) {
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    .navPosition {
      position: relative;
      z-index: 1;
      background-color: transparent;
      padding-top: 25px;
      align-items: baseline;

      @media (max-width: 1199px) {
        background-color: $white !important;
        padding-right: 7%;
        padding-left: 10%;
      }

      .nav-icon {
        // margin: 1em;
        width: 35px;
        &:after,
        &:before,
        div {
          background-color: $black !important;
          border-radius: 3px;
          content: "";
          display: block;
          height: 3px;
          margin: 7px 0;
          transition: all 0.2s ease-in-out;
        }
        &.open {
          div {
            transform: scale(0);
          }
          &::before {
            transform: translateY(8px) rotate(135deg);
          }
          &:after {
            transform: translateY(-12px) rotate(-135deg);
          }
        }
      }
      .navbar-toggler {
        width: fit-content;
        height: auto;
        padding: 0;
        outline: 0 !important;
      }

      .logo {
        width: 181px;
        height: 60px;
      }

      .nameLogo {
        font-size: 18px;
      }

      .navbarCollapse {
        justify-content: center;
        padding-top: 15px;

        .toggle {
          border: 0 !important;
        }

        @media (max-width: 1199px) {
          margin-bottom: 50px;
        }
      }

      a {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin: 0 15px auto;
        @media (max-width: 1340px) {
          margin: auto 5px;
        }

        @media (max-width: 1199px) {
          margin: auto 5px;
        }
      }

      @media (max-width: 1199px) {
        text-align: center;
        font-size: 23px;
      }
    }
  }

  // & .headerCollapes {
  //   position: absolute;
  //   width: 100%;
  //   z-index: 2;
  // }

  @media (min-width: 1360px) {
    padding-right: 10%;
  }

  @media (min-width: 1200px) and (max-width: 1359px) {
    padding-right: 7%;
  }

  @media (max-width: 1199px) {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .navPosition {
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-top: 25px;
    align-items: baseline;

    @media (max-width: 1199px) {
      background-color: $black;
      padding-right: 7%;
      padding-left: 10%;
    }

    .nav-icon {
      // margin: 1em;
      width: 35px;
      &:after,
      &:before,
      div {
        background-color: $white;
        border-radius: 3px;
        content: "";
        display: block;
        height: 3px;
        margin: 7px 0;
        transition: all 0.2s ease-in-out;
      }
      &.open {
        div {
          transform: scale(0);
        }
        &::before {
          transform: translateY(8px) rotate(135deg);
        }
        &:after {
          transform: translateY(-12px) rotate(-135deg);
        }
      }
    }
    .navbar-toggler {
      width: fit-content;
      height: auto;
      border: none;
      padding: 0;
      outline: 0 !important;
    }

    .logo {
      width: 181px;
      height: 60px;
    }

    .nameLogo {
      font-size: 18px;
    }

    .navbarCollapse {
      justify-content: center;
      padding-top: 15px;

      .toggle {
        border: 0 !important;
      }

      @media (max-width: 1199px) {
        margin-bottom: 50px;
      }
    }

    a {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      margin: 0 15px auto;
      @media (max-width: 1340px) {
        margin: auto 5px;
      }

      @media (max-width: 1199px) {
        margin: auto 5px;
        font-size: 23px;
      }
    }

    @media (max-width: 1199px) {
      text-align: center;
    }
  }
}
