$theme-light: #dadde1;
$color-fonts: #606770;
$btn-hover: #1f70c1;

.main {
  width: 95%;

  .container {
    .sidebar {
      margin-top: 100px;
      padding-top: 20px;
      width: 100%;
      max-width: 230px;
      padding-left: 0;
      position: fixed;
      height: 100vh;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 1;
      color: $color-fonts;
      text-decoration: underline;
      border-right: 1px solid $theme-light;

      &::-webkit-scrollbar {
        width: 6.5px;
        background-color: $theme-light;
      }

      &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 10px;
      }

      @media (max-width: 990px) {
        left: -235px;

        &.visible {
          left: 15px;
          background-color: white;
        }
        &.hidden {
          left: -235px;
        }

        &::-webkit-scrollbar-track {
          background: $theme-light;
          border-radius: 10px;
        }
      }
      .toggle-menu {
        display: none;

        @media (max-width: 990px) {
          position: fixed;
          display: block;
          right: 37px;
          top: 132px;
          width: fit-content;
          height: fit-content;
          background-color: $theme-light;
          &:hover {
            background-color: #dfe3e9;
          }
        }
      }
    }

    .content {
      padding-top: 130px;
      padding-left: 230px;
      margin-bottom: 160px;
      width: 100%;
      @media (max-width: 990px) {
        margin-left: 5%;
      }

      //   Col provider
      & > div:first-of-type {
        & > div:first-of-type {
          background: $theme-light;
          border-radius: 7px;
          padding: 15px 10px;
          box-shadow: 2px 2px 10px $theme-light;
          & div:first-of-type {
            h5 {
              svg {
                margin-right: 5px;
                width: 22px;
                height: 24px;
                padding-bottom: 4px;
              }
            }
          }
        }
      }

      .arrows {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .nextArrow,
        .prevArrow {
          margin: 30px 8px 25px;

          a {
            padding: 4px 2px;
            font-size: 18px;
            color: $color-fonts;
            &:hover {
              color: $btn-hover;
            }
          }
        }
      }
    }
  }
}

.header {
  position: fixed;
  background-color: #fff;
  box-shadow: 1px 1px 10px #dadde1;
  height: 100px;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.footer {
  z-index: 3;
  position: relative;
}
