$text-color: #000000;

.advisors {
  min-height: 500px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title {
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
  }

  .block-advisors {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    max-width: 1700px;

    .advisors-info {
      width: 340px;
      height: 107px;
      margin: 65px 40px;
      text-align: left;

      .name-advisor {
        min-width: 240px;
        font-style: normal;
        font-weight: 300;
        font-size: 27px;
        line-height: 32px;
        text-align: left;
        text-transform: capitalize;
      }

      .office-advisor {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 1px;
        text-align: left;
        font-feature-settings: "liga" off;
      }

      @media (max-width: 446px) {
        width: 100%;
        height: auto;
        margin: 50px 10px;
      }
    }
  }
}
