.container {
  width: 100%;
  height: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 100px 60px;

  .boxCenter {
    max-width: 900px;
    text-align: center;

    .title {
      justify-content: center;

      h1 {
        font-size: 48px;
        font-weight: 300;
        max-width: 900px;
        margin-bottom: 30px;
        letter-spacing: -0.02em;

        @media (max-width: 466px) {
          font-size: 9vw;
        }
      }
    }

    .subTitle {
      justify-content: center;
      p {
        font-weight: 300;
        max-width: 876px;
        font-size: 20px;
        color: #000;
        font-feature-settings: "liga" off;

        @media (max-width: 466px) {
          font-size: 4.5vw;
          padding: 0 10px;
        }
      }
    }
  }
}
