.partners {
  width: 100%;
  background: linear-gradient(180deg, #d0def5 0%, rgba(221, 229, 243, 0) 100%);
  min-height: 300px;
  padding: 20px;
  padding-top: 179px;
  margin: auto;
  justify-content: center;

  @media (max-width: 1190px) {
    justify-content: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .description {
    max-width: 440px;

    @media (max-width: 1190px) {
      margin: 0 auto 100px;
      text-align: center;

      .rowTag {
        justify-content: center;
      }
    }

    .tag {
      position: relative;
      justify-content: center;
      margin-top: 80px;

      min-width: 315px;
      margin-bottom: 30px;

      .cardNews {
        max-width: 468px;
        height: 100%;
        align-items: baseline;
        font-weight: 300;
        padding-right: 6px;
        background: #0074ff;

        .tagP {
          margin: 0;
          color: #fff;
          font-size: 16px;

          span {
            padding: 6px 8px;
            margin-right: 8px;
            line-height: 2;
            border-radius: 3px;
            font-size: 14px;
            font-weight: bold;
            background: #01359a;
          }

          @media (max-width: 1350px) {
            font-size: 14px;

            span {
              font-size: 12px;
            }
          }
        }

        .tagMobile {
          display: none;
          width: 100%;
          color: #fff;

          h6 {
            font-size: 14px;
            font-weight: bold;
            margin: 0 -15px;
            background: #01359a;
          }

          p {
            margin: 0;

            font-size: 14px;
          }
        }

        @media (max-width: 427px) {
          .tagMobile {
            display: block;
          }

          .tagP {
            display: none;
          }
        }

        @media (max-width: 427px) {
          padding-right: 0;
          margin: auto;
          max-width: 95%;
          margin-bottom: 20px;
        }
      }
    }

    @media (max-width: 456px) {
      h1 {
        font-size: 9vw;
      }
    }
  }

  .discoveryButton {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
  }

  .colImg {
    margin-bottom: 200px;
    @media (max-width: 1440px) {
      overflow: auto;
    }

    @media (max-width: 1190px) {
      margin: 0 auto;
      max-width: 95%;
    }

    .rowImgs {
      width: fit-content;
      margin: auto;
      img {
        max-width: 868px;
      }
    }
  }

  .swipe {
    justify-content: center;
    margin-top: 30px;

    p {
      display: none;
      color: #557ece;

      @media (max-width: 700px) {
        display: block;
      }
    }
  }
}
