.layout {
  background: linear-gradient(178.26deg, #060505 22.29%, #454545 104.81%);
  color: #fff;
  width: 100%;
  min-height: 500px;
  height: 100%;
  text-align: center;
  position: relative;

  h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    // line-height: 48px;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 1.59rem;
    line-height: 36px;
    text-transform: capitalize;
  }

  .svgRight {
    width: 100%;
    max-width: 620px;
    position: absolute;
    top: -40px;
    right: 0px;
    z-index: 0;
    transition: all 0.2s ease;

    @media (max-width: 1289px) {
      max-width: 650px;
      opacity: 0.5;
    }

    @media (max-width: 720px) {
      top: 60px;
    }
  }

  .svgLeft {
    width: 100%;
    max-width: 620px;
    position: absolute;
    bottom: -320px;
    left: 0px;
    z-index: 0;
    transition: all 0.2s ease;

    @media (max-width: 1289px) {
      max-width: 650px;
      bottom: -280px;
      opacity: 0.5;
    }

    @media (max-width: 720px) {
      bottom: -200px;
    }
  }

  .contentPage {
    z-index: 1;
    position: relative;
    transform: translateY(50%);

    @media (min-width: 1800px) {
      max-width: 1450px;
    }

    @media (min-width: 1290px) and (max-width: 1799px) {
      max-width: 80%;
    }

    @media (max-width: 1190px) {
      max-width: 80%;
      transform: none;
      text-align: center;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    @media (max-width: 490px) {
      max-width: 95%;
      padding-bottom: 100px;
    }
  }

  .titleHeader {
    display: flex;
    flex-direction: column;

    @media (max-width: 1190px) {
      h1 {
        margin: auto;
        max-width: 90%;
      }

      margin-bottom: 30px;
    }

    @media (max-width: 490px) {
      h1 {
        font-size: 9vw;
      }
    }
  }

  .subTitle {
    margin: 0;
    margin-bottom: 20px;
    justify-content: center;

    @media (max-width: 1190px) {
      p {
        margin: auto;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
      margin-bottom: 50px;
      margin-top: 50px;
    }

    @media (max-width: 490px) {
      p {
        font-size: 7vw;
      }
    }
  }

  .imgsList {
    display: block;
    margin-top: 69px;

    img {
      margin-right: 60px;
    }

    .computerLogo {
      width: 148px;
      height: 24.67px;
    }

    @media (max-width: 661px) {
      img {
        margin: 20px 50px;
      }
    }
  }

  @media (max-width: 720px) {
    padding: 0px;
  }
}

.btnsList {
  display: block;
  transition: 0.3s;
  width: 100%;
  margin: 0;

  .btnDefault {
    color: #fff;
    background: #666666;
    margin: 10px 20px;
    font-weight: 500;
    outline: none;
    text-transform: uppercase;
    width: initial;
    min-width: 222px;

    &:hover {
      background: #1f70c1;
    }

    &:focus {
      background: #217dda;
    }

    svg {
      margin-right: 8px;
    }
  }
}

.modalContentVideo {
  .modalBody {
    background-color: #000;
  }

  .modalHeader {
    background-color: #000;
    button {
      padding: 1rem 1rem;
      width: auto;
      margin: -1rem 1-rem -1rem auto;
      font-weight: 400;
      color: #fff;
      font-size: 1.5rem !important;
    }
  }
  .videoYoutbe {
    width: 100%;
    height: 80vh;
  }
}
