.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 40px;
  background: linear-gradient(
    180deg,
    rgba(218, 218, 218, 0.28) -13.59%,
    rgba(250, 250, 250, 0) 100%
  );

  .blockContainer {
    text-align: center;

    .title {
      justify-content: center;
      margin-bottom: 35px;

      h1 {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000;

        @media (max-width: 490px) {
          font-size: 9vw;
        }
      }
    }

    .itemsGroup {
      justify-content: center;
      width: 95%;
      margin: auto;
      margin-top: 70px;

      @media (max-width: 990px) {
        width: 100%;
      }

      .btnDropdown {
        border-radius: 3px;
        padding: 16px;
        position: relative;
        max-width: 260px;
        margin: auto;
        margin-bottom: 20px;

        span {
          &:first-child {
            img {
              height: 25px;
            }
          }
        }

        .btnDropdownContent {
          display: flex;
          align-items: center;
          justify-content: center;

          .btnDropdownArrow {
            width: 14px;
            margin-left: 16px;
          }
        }

        .dropdownClosed {
          transform: rotateX(180deg);
        }

        .btnDropdownLinks {
          margin-top: 20px;
          height: 0;
          display: none;
          transition: 1s;

          a {
            display: inline-block;
            padding: 10px 0px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: #fff;
            width: 100%;
          }
        }

        .showBtnLinks {
          display: block;
          height: initial !important;
        }
      }
    }
  }
}
