$text-black: #000000;

.meet {
  background: linear-gradient(
    180deg,
    rgba(218, 218, 218, 0.28) -13.59%,
    rgba(250, 250, 250, 0) 100%
  );
  padding-bottom: 90px;
  .content-meet {
    max-width: 1600px;
    padding-top: 70px;
    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 57px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $text-black;
      margin-bottom: 100px;
    }

    .team-block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .cards-team {
        max-width: 336px;
        padding-top: 94px;
        min-width: 310px;
        max-height: 218px;
        margin: 14.5px;
        margin-bottom: 90px;
        text-align: center;
        background: #ffffff;
        border: 1px solid #c1c1c1;
        box-sizing: border-box;
        box-shadow: 4px 4px 30px rgba(196, 196, 196, 0.2);
        border-radius: 4px;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(0.98);
          box-shadow: 2px 2px 5px rgba(138, 135, 135, 0.2);
        }

        h6 {
          color: $text-black;
          font-style: normal;
          font-weight: 300;
          font-size: 27px;
          line-height: 32px;
          text-align: center;
          margin-bottom: 13px;
        }

        p {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 150%;
          text-align: center;
          font-feature-settings: "liga" off;
          max-width: 249px;
          margin: auto;
          margin-bottom: 73px;
          text-align: center;
          color: $text-black;
        }

        .photo-team {
          width: 110px;
          height: 110px;
          padding-top: 1px;
          position: absolute;
          top: -50px;
        }
      }
    }
  }
}
