.buildAnything {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  padding-top: 100px;
  margin: auto;

  .title {
    text-align: center;
    margin: auto;
    margin-top: 126px;
    margin-bottom: 100px;
    width: 50%;

    @media (max-width: 1027px) {
      margin-top: 0;
      margin-bottom: 200px;
    }

    @media (max-width: 490px) {
      margin-bottom: 100px;
    }

    h1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.02em;

      @media (max-width: 490px) {
        font-size: 9vw;
      }
    }
  }

  .block {
    margin: auto;
    margin-top: 50px;
    width: 100%;

    .buildWith {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;

      @media (max-width: 1027px) {
        margin-bottom: 50px;

        img {
          width: 100%;
          transition: all 0.2s ease;

          @media (max-width: 620px) {
            width: 240px;
          }
        }
      }

      @media (max-width: 530px) {
        flex-direction: column;
        text-align: center;
      }

      h5 {
        margin-top: 12px;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        letter-spacing: -0.02em;
      }

      p {
        max-width: 416px;
        color: #313131;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
      }

      .smCol {
        @media (max-width: 1027px) {
          max-width: fit-content;
          min-width: 230px;
        }

        @media (max-width: 530px) {
          min-width: 180px;
        }
      }
    }

    %minCol {
      min-width: 500px;
      @media (max-width: 530px) {
        min-width: 100%;
      }
    }

    .columnOne {
      @extend %minCol;
    }

    .columnSecond {
      @extend %minCol;
      .buildWith {
        @media (min-width: 1000px) and (max-width: 1470px) {
          margin-bottom: calc(40% - 11em);
        }

        @media (max-width: 530px) {
          min-width: 180px;
        }
      }
    }
  }
}
