.news {
  width: 100%;
  justify-content: center;
  padding: 40px 20px 60px 20px;
  margin: auto;

  @media (max-width: 1510px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 720px) {
    padding: 10px 20px;
  }

  .title {
    text-align: center;
    margin: auto;
    width: 50%;
    margin: 70px auto;

    h1 {
      font-weight: 300;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #0c0c0c;

      @media (max-width: 490px) {
        font-size: 9vw;
      }
    }
  }

  .gridCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 441px);
    grid-template-rows: 639px;
    gap: 44px;
    margin-bottom: 64px;

    & > div {
      padding: 0;
    }

    @media (max-width: 1550px) {
      grid-template-columns: repeat(3, 401px);
    }

    @media (max-width: 1395px) {
      grid-template-columns: repeat(3, 381px);
      gap: 34px;
    }

    @media (max-width: 1270px) {
      grid-template-columns: repeat(1, 441px);
      grid-template-rows: repeat(3, 686px);
      gap: 100px;
      margin: auto;
      margin-bottom: 64px;
    }

    @media (max-width: 482px) {
      grid-template-columns: repeat(1, 95%);
      grid-template-rows: initial;
      gap: 50px;
      margin: auto;
      margin-bottom: 64px;
    }

    .block {
      background: #ffffff;
      border: 1px solid #dde5f3;
      box-sizing: border-box;
      box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
      border-radius: 4px;
      max-width: 441px;

      .cardHeader {
        padding: 0;
        border-bottom: 0;
        background-color: #fff;

        img {
          height: 100%;
          width: 100%;

          // @media (max-width: 446px) {
          //   height: 100%;
          // }
        }
      }

      .cardBody {
        min-height: 297px;
        padding: 1rem 36px 0px;

        @media (max-width: 482px) {
          min-height: fit-content;
        }

        .author {
          text-align: center;

          img {
            width: 36px;
            height: 36px;
            position: relative;
            top: -36px;
            border-radius: 100%;
          }

          p {
            font-weight: normal;
            font-size: 16px;
            line-height: 146.7%;
            text-align: center;
            margin-top: -25px;
            margin-bottom: 26px;
            text-transform: capitalize;

            @media (max-width: 482px) {
              font-size: 14px;
            }
          }

          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 146.7%;
            text-align: center;
            margin-left: 12px;
            text-transform: capitalize;
            color: #666666;
            margin-bottom: 20px;
          }
        }

        .content {
          h4 {
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 130%;
            margin-bottom: 30px;

            @media (max-width: 1550px) {
              font-size: 1.3vw;
            }

            @media (max-width: 1270px) {
              font-size: 22px;
            }

            @media (max-width: 1110px) {
              // font-size: 22px;
            }

            @media (max-width: 482px) {
              font-size: 20px;
            }
          }

          p {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 1.5rem;
            color: #666666;

            @media (max-width: 1440px) {
              font-size: 14px;
            }
          }
        }
      }

      .cardFooter {
        border: 0;
        background-color: #ffffff;
        text-align: center;
        padding-bottom: 30px;

        @media (max-width: 720px) {
          padding-bottom: 20px;
        }

        .btnDefault {
          color: #fff;
          background: #666666;
          margin: 10px 20px;
          font-weight: 500;
          outline: none;
          text-transform: uppercase;
          width: initial;
          min-width: 222px;

          &:hover {
            background: #1f70c1;
          }

          &:focus {
            background: #217dda;
          }

          svg {
            margin-right: 8px;
          }

          @media (max-width: 425px) {
            min-width: 130px;
            width: 90%;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: initial;
          }
        }
      }
    }
  }
}
