.blockchain {
  margin-top: 75px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 40px;
    padding-top: 50px;
  }

  &__title {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
    color: $black;

    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 992px) {
      font-size: 52px;
    }
  }

  &__subtitle {
    font-weight: lighter;
    color: $grey;
  }

  .realities {
    position: relative;
    display: block;
    width: 100%;
    max-width: 588px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
      height: 344px;
      margin-top: 130px;
      margin-bottom: 110px;
    }

    .reality {
      font-size: 25px;
      font-family: 'Rubik Light';
      color: $black;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 10px;
      opacity: 0;

      @media (min-width: 768px) {
        position: absolute;
        margin-bottom: 0;
        margin-right: 0;
        font-size: 32px;
      }

      &:nth-child(1) {
        top: 20px;
        left: -75px;
        animation-delay: 600ms;
      }

      &:nth-child(2) {
        top: -70px;
        left: 135px;
        animation-delay: 900ms;
      }

      &:nth-child(3) {
        top: 20px;
        right: -70px;
        animation-delay: 300ms;
      }

      i.icon {
        margin-right: 10px;
      }
    }

    &__img {
      max-width: 100%;
      margin-top: 40px;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      #blockchain,
      #lock,
      #chip {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      #blockchain {
        transition-delay: 100ms;
      }

      #lock {
        transition-delay: 3s;
      }

      #chip {
        transition-delay: 1500ms;
      }

      &.animation-custom {
        #blockchain,
        #lock,
        #chip {
          opacity: 1;
        }

        #blockchain {

        }

        #lock {
          transition: all 500ms ease-out;
          transition-delay: 1500ms;
        }

        #chip {
          transition: all 500ms ease-out;
        }
      }
    }

    &__text {
      bottom: -110px;
      right: 0;
      font-size: 22px;
      font-family: 'Rubik Light';
      color: $black;
      white-space: pre-line;
      opacity: 0;
      animation-delay: 2s;

      @media (min-width: 768px) {
        position: absolute;
        text-align: left;
      }
    }
  }
}
