.blockchain {
  margin-top: 75px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 40px;
    padding-top: 50px;
  }

  &__title {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
    color: $black;

    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 992px) {
      font-size: 52px;
    }
  }

  &__subtitle {
    font-weight: lighter;
    color: $grey;
  }

  .realities {
    position: relative;
    display: block;
    width: 100%;
    max-width: 588px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
      height: 344px;
      margin-top: 130px;
      margin-bottom: 110px;
    }

    .reality {
      font-size: 25px;
      font-family: 'Rubik Light';
      color: $black;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 10px;
      opacity: 0;
      animation-delay: 300ms;
      animation-duration: 700ms;

      @media (min-width: 768px) {
        position: absolute;
        margin-bottom: 0;
        margin-right: 0;
        font-size: 32px;
      }

      &:nth-child(1) {
        top: 20px;
        left: -75px;
      }

      &:nth-child(2) {
        top: -70px;
        left: 135px;
      }

      &:nth-child(3) {
        top: 20px;
        right: -70px;
      }

      i.icon {
        margin-right: 10px;
      }
    }


    #realities__img {
      max-width: 100%;
      margin-top: 40px;
    }

    &__img {
      max-width: 100%;
      margin-top: 40px;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      #blockchain-group,
      #lock-group,
      #chip-group {
        opacity: 0;
        animation-duration: 700ms;
        transition-duration: 700ms;
      }

      #blockchain-group {
      }

      #lock-group {
        transition-delay: 1.5s;
        animation-delay: 1.5s;
      }

      #chip-group {
        transition-delay: 1s;
        animation-delay: 1s;
      }

      &.animation-custom {
        #blockchain-group,
        #lock-group,
        #chip-group {
          opacity: 1;
        }
      }
    }

    &__text {
      width: 180px;
      bottom: -120px;
      right: 40px;
      font-size: 22px;
      font-family: 'Rubik Light';
      color: $black;
      white-space: pre-line;
      opacity: 0;
      animation-delay: 500ms;
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 768px) {
        position: absolute;
        text-align: left;
      }
    }
  }
}
