.features {
  margin-top: 250px;
  padding: 70px 0;
  background-color: $black;

  @media (min-width: 768px) {
    margin-top: 350px;
  }

  @media (min-width: 992px) {
    margin-top: 335px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__img {
    display: block;
    width: 590px;
    max-width: 100%;
    margin-top: -250px;

    @media (min-width: 768px) {
      max-width: 70%;
      margin-right: 120px;
      margin-top: -400px;
    }

    @media (min-width: 992px) {
      height: 875px;
      max-width: none;
      width: 590px;
      margin-right: 120px;
      margin-top: -400px;
    }
  }

  &__list {
    margin-top: 40px;

    @media (min-width: 992px) {
      margin-top: 0;
    }

    &__item {
      opacity: 0;

      h4 {
        margin-top: 0;
        margin-bottom: 20px;
        font-family: 'Rubik Regular';
        font-size: 28px;
        color: $white;

        @media (min-width: 768px) {
          white-space: pre-line;
        }
      }

      p {
        font-family: 'Rubik Light';
        letter-spacing: 0.5px;
        font-weight: lighter;
        line-height: 20px;
        font-size: 14px;
        color: $white;
        margin-top: 0;
        margin-bottom: 25px;

        @media (min-width: 768px) {
          white-space: pre-line;
        }
      }
    }
  }
}
