.hero {
  width: 100%;
  height: 100%;
  background-color: #000;//$black;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
  box-sizing: border-box;

  @media (min-width: 992px) {
    padding-top: 130px;
  }

  &__logo {
    width: 309px;
    max-width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      max-width: 50%;
    }
  }

  &__text {
    font-family: 'Rubik Light';
    font-weight: lighter;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 4% 15px;
    box-sizing: border-box;

    @media (min-width: 768px) {
      padding: 0 4%;
      font-size: 34px;
    }
  }

  &__button {
    background-color: transparent;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    @media (min-width: 768px) {
      //margin-left: 50px;
      margin-top: 0;
    }

    &:focus {
      outline: none;
    }

    &:hover {

      .icon {
        margin-right: 15px;

        .circle {
          width: 240px;
        }
      }
    }

    .icon {
      margin-right: 25px;
      position: relative;
      transition: margin-right 200ms linear;

      .circle {
        display: block;
        width: 45px;
        height: 45px;
        border: 2px solid $white;
        border-radius: 25px;
        position: absolute;
        // top: -14px;
        // left: -17px;
        top: -14px;
        left: -17px;
        transition: width 350ms ease-out 300ms;
      }
    }

    &__text {
      color: $white;
      font-family: 'Rubik Light';
      font-weight: lighter;
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      transition: all 300ms ease-in;
    }

    &__text {
      width: 175px;
    }

    @media (max-width: 991px) {
      .icon .circle,
      &:hover .icon .circle {
        width: 250px;
      }
    }
  }

  &__godown {
    display: block;
    width: 53px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    position: relative;
    transition: padding-top 150ms ease-out;
    bottom: 0;
    box-sizing: border-box;

    &:hover {
      padding-top: 13px;
    }
  }
}

#mlb2-1683328.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
  height: 42px;
}





