.how-to {
  padding-top: 70px;
  box-sizing: border-box;

  &__icons {
    &__science {
      width: 163px;
      height: 93px;
      &--reverse {
        width: 383px;
        height: 267px;
      }
      &--mobile {
        width: 165px;
        height: 138px;
      }
    }
    &__logistics {
      width: 172px;
      height: 135px;
      &--reverse {
        width: 383px;
        height: 267px;
      }
      &--mobile {
        width: 174px;
        height: 138px;
      }
    }
    &__finance {

    }
    &__software {
      width: 88px;
      height: 133px;
      &--reverse {
        width: 383px;
        height: 303px;
      }
      &--mobile {
        width: 91px;
        height: 138px;
      }
    }
    &__gaming {
      width: 122px;
      height: 154px;
      &--reverse {
        width: 383px;
        height: 278px;
      }
      &--mobile {
        width: 128px;
        height: 138px;
      }
    }
    
  }

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
  }

  &__tabnav {
    display: none;

    @media (min-width: 992px) {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: flex-start;
      text-align: center;
      margin-bottom: 130px;
    }

    &__item {
      display: flex !important;
      height: 190px;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      text-decoration: none;
      position: relative;
      cursor: default;

      &:focus {
        outline: none;

        span {
          color: $black;
        }
      }

      i.icon {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }

      span {
        font-family: 'Rubik Light';
        font-size: 22px;
        color: $grey;
        display: inline-block;
        margin-top: 30px;
      }
    }
  }

  &__tabcontent {
    width: 100%;
    padding: 60px 3.33334% 90px;
    box-sizing: border-box;
    background-color: $black;
    position: relative;

    @media (min-width: 992px) {
      padding: 30px 3.33334% 30px;
      height: 450px;
    }

    &:after {
      border-bottom: 95px solid $black;
      border-right: 95px solid transparent;
      border-left: 95px solid transparent;
      position: absolute;
      bottom: 100%;
      left: calc(62% - 95px);
      transition: all 300ms ease;

      @media (min-width: 992px) {
        content: '';
        display: block;
      }
    }

    &__item {
      width: 100%;

      @media (min-width: 992px) {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
          height: 100%;
        }
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }

      img, svg {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 35px;
        display: none;

        @media (min-width: 768px) {
          display: block;
          margin-right: 70px;
          margin-left: 0;
          margin-bottom: 0;
        }

        &.mobile {
          display: block;

          @media (min-width: 768px) {
            display: none;
          }
        }
      }

      &__text {
        display: block;
        color: $white;

        @media (min-width: 768px) {
          white-space: pre-line;
          width: 460px;
        }

        h4 {
          font-family: 'Rubik Regular';
          font-size: 34px;
          line-height: 34px;
          margin-top: 0;
          margin-bottom: 25px;

          @media (min-width: 768px) {
            white-space: pre-line;
            margin-bottom: 0;
          }
        }

        p {
          margin-top: 0;
          margin-bottom: 0;
          font-family: 'Rubik Light';
          font-weight: lighter;
          letter-spacing: 0.5px;
          font-size: 15px;
          line-height: 21px;
        }
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-right: 15px;
        text-align: unset;

        button {
          display: inline-block;
          font-size: 0;
          background-color: $white;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          border: none;
          transition: all 300ms ease-out;
          padding: 0;

          &:focus {
            outline: none;
          }
        }

        &.slick-active button {
          height: 22px;
          width: 22px;
        }
      }
    }
  }
}
