.partners {
  padding: 70px 0;
  box-sizing: border-box;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .partner {
    // margin-bottom: 50px;
    width: 100%;
    text-align: center;

    @media (min-width: 480px) {
      width: 50%;
    }

    @media (min-width: 768px) {
      width: 33.3334%;
    }

    &__link {
      text-decoration: none;
      display: block;
    }

    &__logo {
      display: inline-block;
      max-width: 80%;

      @media (min-width: 480px) {
        max-width: none;
      }
    }
  }
}
