.team_ch {
  background-color: $black;
  padding: 70px 0;
  box-sizing: border-box;

  .container {

  }

  &__title {
    text-align: center;
    color: $white;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  &__group {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    @media (min-width: 992px) {
      justify-content: center;
    }

    &:before {
      left: 0;
      top: 30px;
      display: block;
      color: $grey;
      font-family: 'Rubik Light';
      font-weight: lighter;
      font-size: 28px;
      margin-bottom: 40px;

      @media (min-width: 992px) {
        margin-bottom: 0;
        position: absolute;
      }
    }
  }

  &__group--core {
    &:before {
      content: '核心';
    }

    .team__member {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      @media (min-width: 992px) {
        justify-content: center;
        flex-direction: column;
        width: 27%;
      }
      &__avatar {
        margin-right: 15px;

        @media (min-width: 992px) {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &__data {
        @media (min-width: 992px) {
          text-align: center;
        }
      }

      &__name {
        display: block;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      &__role {
        color: #c3c3c3;
        display: block;
      }
    }
  }

  &__group--advisors {
    margin-top: 70px;

    &:before {
      content: '顾问';
    }

    .team__member {
      //@include clearfix();
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 200%;

      @media (min-width: 992px) {
        justify-content: center;
        flex-direction: column;
        width: 37%;
      }

      &__avatar {
        margin-right: 15px;

        @media (min-width: 992px) {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &__name {
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      &__role {
        display: block;
        color: $grey;
        margin-bottom: 5px;
      }

      &__company {
        display: block;
        color: #c3c3c3;
        font-family: 'Rubik Light';
        font-weight: lighter;
        letter-spacing: 0.5px;
        font-size: 16px;
        margin-bottom: 5px;
      }

      &__data {
        @media (min-width: 992px) {
          text-align: center;
        }
      }
    }
  }

  &__member {
    margin-bottom: 50px;

    &__avatar {
      display: block;
      width: 70px;
      height: 70px;

      @media (min-width: 768px) {
        width: 157px;
        height: 157px;
      }
    }

    &__name {
      color: $white;
      font-family: 'Rubik Regular';
      font-size: 22px;
    }

    &__role {
      font-family: 'Rubik Light';
      font-weight: lighter;
      letter-spacing: 0.5px;
      font-size: 16px;
    }

    &__company {
      color: $grey;

    }
  }
}
