@import "../../../styles/variables.scss";

.groups {
  width: 100%;
  min-height: 830px;
  background: linear-gradient(
    180deg,
    rgba(176, 176, 176, 0.28) -13.59%,
    rgba(250, 250, 250, 0) 100%
  );
  justify-content: center;

  .block-groups {
    display: flex;
    max-width: 1800px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 54px;
    text-align: center;
    position: relative;
    z-index: 1;

    .title {
      justify-content: center;
      font-style: normal;
      font-weight: 300;
      width: 100%;
      font-size: 48px;
      line-height: 57px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $black;
      margin-bottom: 138px;

      @media (max-width: 940px) {
        position: relative;
        z-index: 2;

        margin: auto auto 138px;
      }

      @media (max-width: 490px) {
        font-size: 9vw;
      }
    }
    .block-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: -75px;
      max-width: 1160px;
      margin: auto;
      justify-content: center;

      .card-group {
        max-width: 184px;
        padding-top: 60px;
        min-width: 184px;
        height: 169px;
        margin-right: 35px;
        margin-left: 35px;
        margin-bottom: 130px;
        text-align: center;

        .titleCard {
          color: $dark-gray;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 18px;
        }

        .btn-card {
          font-weight: 500;
          font-size: 12px !important;
          line-height: 14px;
          max-width: fit-content;
          min-width: 110px;
          white-space: nowrap;
          margin: auto auto 36px;
          text-align: center;
          height: 31px;
          padding: 9px 9px;
          text-decoration: none;
          background: $dark-gray;
          box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
          border-radius: 3px;
          text-transform: capitalize;
          color: #fff;

          & .btn-tooltip {
            visibility: hidden;
            width: 120px;
            background-color: white;
            color: #000;
            text-align: center;
            padding: 5px 1px;
            border-radius: 3px;
            position: absolute;
            box-shadow: 1px 2px 4px #1f70c132;
            z-index: 2;
          }

          &:hover {
            background: #1f70c1;
            border: none;

            & .btn-tooltip {
              visibility: visible;
              bottom: 8px;
              right: 30px;
            }
          }
          &:focus,
          &:active {
            background: #217dda;
            border: none;
            outline: none;
          }
        }

        %circle {
          box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
          border-radius: 100%;
          width: 96px;
          height: 95px;
          position: absolute;
          top: -50px;
        }

        .imgCard {
          box-shadow: 4px 4px 30px rgba(142, 170, 198, 0.2);
          border-radius: 100%;
          width: 96px;
          height: 95px;
          position: absolute;
          top: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
